<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SolrConnection" value="http://140.126.130.57:8983/solr/Solr_sample3/update/json/docs?commit=true"/>
    <!--<add key="SolrConnection" value="http://192.168.152.130:8983/solr/trend-micro/update/json/docs?commit=true"/>-->
    <add key="PowerboxPath" value="C:\Users\USER\Desktop\source"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>